:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(
            from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg
    );
    --secondary-glow: radial-gradient(
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
    );

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
            #00000080,
            #00000040,
            #00000030,
            #00000020,
            #00000010,
            #00000010,
            #00000080
    );

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
        --secondary-glow: linear-gradient(
                to bottom right,
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0),
                rgba(1, 65, 255, 0.3)
        );

        --tile-start-rgb: 2, 13, 46;
        --tile-end-rgb: 2, 5, 19;
        --tile-border: conic-gradient(
                #ffffff80,
                #ffffff40,
                #ffffff30,
                #ffffff20,
                #ffffff10,
                #ffffff10,
                #ffffff80
        );

        --callout-rgb: 20, 20, 20;
        --callout-border-rgb: 108, 108, 108;
        --card-rgb: 100, 100, 100;
        --card-border-rgb: 200, 200, 200;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.wrapper-games {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: auto;
    padding: 40px 300px;
    background-color: #ffdfd67a;
}

.wrapper-page-games {
    background-color: #ffdfd67a;
    display: flex;
    flex-direction: column;
}

.wrapper-discount {
    text-align: center;
    background-color: white;
    margin: 20px 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-discount {
    text-align: center;
    background-color: white;
    margin: 20px 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 52px;
    color: #1e665bb8;
}

.name-text {
    margin-top: 12px;
    width: 630px;
    font-weight: 600;
    font-size: 28px;
    color: #552961a8;
}

.description-text {
    margin-top: 8px;
    width: 600px;
    font-size: 20px;
    color: #322a2acf;
}

.header {
    height: 68px;
    background-color: #4dc797b0;;
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    align-items: center;
}

.wrapper-button-header {
    display: flex;
    gap: 50px;
    align-items: center;
}

.button-header {
    border: none;
    background-color: white;
    color: green;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button-header:hover {
    background-color: #7ddfba;;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.title-header {
    color: rgba(11, 11, 11, 0.66);
}

ul > li {
    list-style-type: none;
}

.title-home {
    font-size: 48px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-top: 10px;
}

.wrapper-main {
    background-color: white;
    padding: 100px 20px;
    box-shadow: 0px 0px 10px rgb(220 218 202 / 70%);
}

.subtitle-home {
    font-size: 38px;
    color: #3c3c3ceb;
    text-align: left;
    margin-top: 36px;
    text-indent: 50px;
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: #999999;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wedding-people {
    background: white;
    margin: 0px 20px 0px;
    padding: 5px 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    color: #348067ad;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.wrapper-guests-one {


}

.date-wedding {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #42774e;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.blur {
    filter: blur(3px);
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.timer-digit {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: #dd1dc26e;
    border: solid 2px #ecade5;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    width: 200px;
    text-align: center;
}

.timer-digit.blur {
    filter: blur(5px);
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;
    max-width: 2560px;
    padding: 60px 120px;
    background-color: #ffdfd67a;;
}

.container {
    padding: 0 100px;
    max-width: 1920px;
}

.game {
    border: solid 1.5px #a38686;
    padding: 20px;
    width: 340px;
    min-height: 636px;
    background-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 10px;
    color: #348067ad;
    background: #ffdfd67a;
}

.title-game {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button-booked {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px;
    padding: 10px;
    font-size: 20px;
    color: #ef0707b0;
    font-weight: 700;
    background: #ffb2b257;
    border-radius: 30px;
    border: 1px solid #ff000096;
}


.name-description {
    font-weight: 700;
    color: #8d1077c7;
    font-size: 16px;
}

.text-description {
    color: #363c1d;
    min-height: 130px;
}

.wrapper-two-discount {
    background-color: #ffdfd67a;
}

.image-games {
    margin-top: 10px;
    width: 300px;
    max-height: 600px;
    overflow: hidden;
    object-fit: cover;
    object-position: 30% 10%;
}

.link-games {
    text-decoration: underline;
}

.name-game {
    color: #90157a96;
}

.link-games-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.li-link {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #1f738ba1;
}

.wrapper-guests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 0px;
    background: white;
    padding: 10px 25px;
    height: 100%;
    max-width: 330px;
}

.guest {
    font-size: 25px;
    color: #348067ad;
}

.wrapper-guests-column {
    display: flex;
    justify-content: center;
    gap: 200px;
    height: 100%;
    background-color: #ffdfd67a;
    padding-top: 41px;
}

.logo {
    margin-top: 3px;
}

@media screen and (max-width: 700px) {

    .wrapper-discount {
        text-align: center;
        background-color: white;
        margin: 20px 25px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-discount {
        background-color: white;
        margin: 10px 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        color: #1e665bb8;
    }

    .guest {
        font-size: 20px;
    }

    .wrapper-games {
        padding: 20px 40px 0 40px;
    }

    .header {
        height: 40px;
        padding: 10px 40px;
    }

    .button-header {
        border: none;
        background-color: white;
        color: green;
        padding: 6px 10px;
        border-radius: 50px;
        font-size: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .logo-header {
        width: 30px;
        height: 30px;
    }

    .logo {
        margin-top: 3px;
    }

    .image-games {
        width: 250px;
        height: auto;
    }

    .game {
        padding: 25px;
        width: 300px;
        min-height: 400px
    }

    .wrapper-button-header {
        gap: 25px;
    }

    .main {
        padding: 40px 40px 0 40px;
    }

    .wedding-people {
        font-size: 28px;
    }

    .container {
        padding: 0 5px;
    }

    .subtitle-home {
        font-size: 12px;
        text-indent: 24px;
        margin-top: 20px;
    }

    .wrapper-main {
        padding: 40px 20px;
    }

    .timer-digit {
        font-size: 16px;
        padding: 2px;
        width: 100px;
    }

}


@media screen and (max-width: 1150px) {
    .wrapper-guests-column {
        display: flex;
        justify-content: center;
        gap: 100px;
        height: calc(100vh - 115px);
    }
}

@media screen and (max-width: 950px) {
    .wrapper-guests-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        height: auto;
        padding: 40px 0 0 0;
    }

    .title-discount {
        background-color: white;
        margin: 10px 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        color: #1e665bb8;
    }

    .wrapper-games {
        padding: 20px 40px 0 40px;
    }

    .wrapper-guests-one {
        margin: 0 50px;
    }

    .wrapper-guests {
        padding: 10px 0px;
    }

    .footer {
        font-size: 18px;
    }

    .name-text {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        width: 630px;
        font-weight: 600;
        font-size: 16px;
        color: #552961a8;
    }

    .description-text {
        margin: 8px auto;
        width: 400px;
        padding: 0 10px;
        font-size: 12px;
        color: #322a2acf;
    }

}

@media screen and (max-width: 414px) {

    .title-discount {
        background-color: white;
        margin: 10px 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        color: #1e665bb8;
    }

    .button-booked {
        font-size: 16px;
    }

    .game-button {

    }

    .wrapper-games {
        padding: 20px 20px 0 20px;
    }

    .game {
        padding: 10px;
        width: 272px;
        min-height: 400px
    }

    .name-text {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        width: 300px;
        font-weight: 600;
        font-size: 14px;
        color: #552961a8;
    }

    .description-text {
        margin: 8px auto;
        width: 300px;
        padding: 0 10px;
        font-size: 12px;
        color: #322a2acf;
    }

    .wrapper-discount {
        background-color: white;
        margin: 10px 20px;
        padding: 10px;
    }

}




